body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
}

input[type="file"] {
    background-color: #f2f2f2;
    border: 1px solid #101010;
    padding: 10px;
    border-radius: 4px;
}

button {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

button:hover {
    background-color: #005E86;
}


#outputTable {
    margin: 20px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    border: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

th:hover {
    background-color: #008CBA;
    color: #fff;
    transition: background-color 0.3s ease;
}

td:hover {
    background-color: #e2e2e2;
    transition: background-color 0.3s ease;
}
